<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Links favoritos</a>
    <div class="d-flex me-5 pe-5 p-2" id="navbarNav">
      <ul class="nav">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/links">Todos los links</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/links/add">Agregar un Link</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Perfil</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Cerrar sesión</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/signin" class="nav-link">SignIn</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">SignUp</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>