<nav class="navbar navbar-expand-lg"  style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/links">Links favoritos</a>
    <div class="d-flex me-5 pe-5 p-2" id="navbarNav">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Links
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/links">Todos los links</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/links/add">Agregar un Link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>